<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://kit.fontawesome.com/732623e199.js" ></script>
<link rel="stylesheet" href="./StyleCss/index.css">
</head>
<body>
<div class="container-fluid  sMenu" id="link " style="clear: both;" style="display: hidden;">
	<div class="row">		
		<div class="col-md-11 "> 
			<ul>	
				<li><a href="/view/Deposit.jsp">Cash Deposit</a></li>
				<li><a href="/view/Withdraw.jsp">Cash Withdraw</a></li>
				<li><a href="/view/Statement.jsp">Statement</a></li>
				<li><a href="/view/OpenAcc.jsp">Open Account</a></li>
				<li><a href="/view/CloseAcc.jsp">Close Account</a></li>
				<li><a href="/view/Manage.jsp">Manage Account</a></li>
				<li><a href="/view/AllDetail.jsp">All a/c Detail</a></li>
			</ul>
		</div>
		<div class="col-md-1 btn-style">			
				<form action="./logout" method="post">
						<input type="submit" value="Logout" style="float: rright;">
					</form>
		</div>
	</div>
</div>


</body>
</html>